# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Windows reserved names
nul
con
prn
aux

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

/budget-wise/ios
/budget-wise/android
/budget-wise/.vscode
/budget-wise/.idea
/budget-wise/.expo
/budget-wise/dist
/budget-wise/web-build
/budget-wise/node_modules
/budget-wise/.turbo
/budget-wise/.expo-shared
/budget-wise/.env*.local
/budget-wise/*.tsbuildinfo
/budget-wise/npm-debug.*
/budget-wise/yarn-debug.*
/budget-wise/yarn-error.*
/budget-wise/.DS_Store
/budget-wise/*.orig.*
/budget-wise/*.jks
/budget-wise/*.p8
/budget-wise/*.p12
/budget-wise/*.key
/budget-wise/*.mobileprovision
/budget-wise/.kotlin
